@model List<WebApplication12.Models.urunler>


<body>
        <div class="row g-0">
            <div class="col-3 col-md-3">
                <div class="p-3 border bg-light">
                    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
                        <svg width="40" height="32"><use xlink:href="#bootstrap" /></svg>
                        <span class="fs-4">Kulllanıcı Adı</span>
                        <hr>
                        <a><h5>@Html.Action("goster_ici")</h5></a>
                        <hr />
                    </div>
                </div>
            </div>

            <div class="col-sm-9 col-md-9">
                @if (Model != null)
                {
                    <div class="row mb-2">
                        @foreach (var item in Model)
                        {

                            <div class="col-md-6">
                                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                    <div class="card-body d-flex flex-column align-items-start" style="background-color:lightgray">
                                        <img src="~/img/@item.resim" class="card-img-top" style="height:125px; width:175px;" alt="...">
                                        <h5 class="card-subtitle mb-2 text-6muted"><b>Ürün Adı = </b>@item.urunismi</h5>

                                        <h6 class="card-subtitle mb-2 text-muted"><b>Ürün Fiyatı = </b>@item.fiyat</h6>
                                        <h6 class="card-subtitle mb-2 text-muted"><b>Ürün Eni = </b>@item.en</h6>
                                        <h6 class="card-subtitle mb-2 text-muted"><b>Ürün Boyu = </b>@item.boy</h6>
                                        <h6 class="card-subtitle mb-2 text-muted"><b>Ürün Kodu = </b>@item.urunkodu</h6>
                                        <h6 class="card-subtitle mb-2 text-muted"><b>Ürün Rengi = </b>@item.renk</h6>
                                        <h6>Adet</h6>
                                        <form action="~/urunler/sepet_ekle" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="id" value="@item.urunID" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                            <input type="text" name="adet" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                            <br />
                                            <button type="submit" class="btn btn-success">Sepete Ekle </button>
                                        </form>
                                    </div>
                                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/150x250?theme=thumb" alt="Card image cap">
                                </div>
                            </div>

                        }
                    </div>
                }

            </div>



        </div>

        <div class="row g-0">
            <div class="col-12 col-md-12 ">
                <div id="Grid">
                    @Html.Action("sepet_ici")
                </div>

            </div>
            <div class="col-12 col-md-12">



                @using (Html.BeginForm("Export", "calisan", FormMethod.Post))
                {
                    <input type="hidden" name="GridHtml" />
                    <input type="submit" id="btnSubmit" value="Export" />
                }


                <script src="~/Scripts/jquery.min.js"></script>
                <script type="text/javascript">
                    $(function () {
                        $("#btnSubmit").click(function () {
                            $("input[name='GridHtml']").val($("#Grid").html());
                        });
                    });
                </script>



            </div>


        </div>
</body>

@*<div class="row g-0">
    <div class="col-3 col-md-3">
        @Html.Action("goster_ici")

    </div>*@
  